
  <div class="well tile-well">
    <div class="row">
      <div class="col-xs-11">
        {{#link-to 'question' question.id}}
          <h4>{{question.title}} {{questionPopularity question}}</h4>
          <h5><em>Question by {{question.author}}</em></h5>
        {{/link-to}}
      </div>
      <div class="col-xs-1">
        <button title="Pin this question" class="btn btn-sm pull-right btn-warning" {{action 'pinQuestion' question}}><span class="glyphicon glyphicon-pushpin"></span></button>
      </div>
    </div>
  </div>
