body {
  background: url(../img/bg-image.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  a {
    &:hover {
      text-decoration: none;
    }
  }
  hr {
    border-top: 1px solid #666666;
  }
  .well {
    background-color: #e6e6e6;
  }
  .question-well {
    box-shadow: 5px 5px 5px #888888;
  }
  .tile-well {
    background-color: #d5eef6;
    box-shadow: 5px 5px 5px #888888;
    &:hover {
      background-color: #aadeee;
    }
  }
  .detail-well {
    .question-detail {
      h2 {
        margin-bottom: 0px;
      }
      h5 {
        margin-top: 0px;
      }
      div {
        display: inline;
        .form-group {
          display: block;
          margin-bottom: 15px;
        }
      }
      form {
        margin-bottom: 15px;
      }
    }
    .answer-well {
      background-color: #f2f2f2;
      box-shadow: 5px 5px 5px #888888;
      border: 1px solid #d9d9d9;
    }
  }
  #main-content {
    margin-top: 60px;
  }
}
