<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well question-well">
      {{new-question saveQuestion="saveQuestion"}}
      {{display-board}}
    </div>

    <h3 class="text-center">Current Questions</h3>
    {{#each model.questions as |question|}}
      {{question-tile question=question}}
    {{/each}}
  </div>
</div>
