<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well detail-well">
      <div class="question-detail">
        {{question-detail question=model deleteQuestion="deleteQuestion"}}
        {{update-question question=model update="update"}}
        {{new-answer saveAnswer="saveAnswer" question=model}}
      </div>
      <hr>
      <h3>Answers</h3>
      {{#each model.answers as |answer|}}
        {{answer-tile answer=answer}}
      {{/each}}
    </div>
  </div>
</div>
