<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well detail-well">
      <div class="question-detail">
        {{question-detail question=model deleteQuestion="deleteQuestion" transitionToIndex="transitionToIndex"}}
        {{update-question question=model update="update"}}
        {{new-answer saveAnswer="saveAnswer" question=model}}
      </div>
      <hr>
      <h3>Answers</h3>
      {{answer-display answers=model.answers addVote='addVote'}}
    </div>
  </div>
</div>
